.newHate-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.7);
}

.newHate-modal {
  z-index: 1;
  width: 75%;
  height: 50%;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  position: relative;
  animation: animate 0.3s;
}

.newHate-modal-button {
  position: absolute;
  top: 5px;
  right: 5px;
  padding: 8px 11px;
  background: var(--hate-red);
  border: 1px solid var(--hate-red);
  color: white;
  font-weight: bold;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

.newHate-modal-button:hover {
  color: var(--hate-red);
  background-color: whitesmoke;
  border: 1px solid var(--hate-red);
}

@keyframes animate {
  from {
    transform: scale(0.5);
  }

  to {
    transform: scale(1);
  }
}