.autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.inner-autocomplete {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
