:root {
  --hate-red: rgb(241, 146, 146);
}
:root {
  --pro-grey: rgb(224, 224, 224);
}

.home {
  display: flex;
  height: 100vh;
  width: 100%;
  flex-direction: row;
}

.landingLeft {
  display: flex;
  background-color: var(--hate-red);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60%;
}

.landingForm {
  display: flex;
  height: fit-content;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.landingLoginInput {
  display: flex;
  border: 1px solid var(--hate-red);
  border-radius: 100px;
  margin-top: 5%;
  height: fit-content;
  padding: 10px;
}

.slogan {
  display: flex;
  flex-direction: column;
  width: 70%;
  text-align: center;
  justify-content: center;
  color: white;
  text-transform: capitalize;
  font-size: 20px;
}

.LogoLink {
  text-decoration: none;
  font-size: 50px;
  color: rgb(241, 146, 146);
}

.landingRight {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5%;
  /* border: 1px solid blue; */
  height: 100%;
  width: 40%;
  color: var(--hate-red);
}

#google-sign {
  border-radius: 50px;
  background-color: whitesmoke;
  color: var(--hate-red);
  width: 50%;
  margin-top: 5%;
}

#google-sign:hover {
  background-color: white;
  color: rgb(105, 105, 250);
}

#landing-sign-up {
  border-radius: 50px;
  background-color: var(--hate-red);
  color: white;
  width: 50%;
  margin-top: 5%;
}

#landing-sign-up:hover {
  color: var(--hate-red);
  background-color: whitesmoke;
}

.middle-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 90%;
  height: 40%;
  align-items: center;
  border-top: 2px solid var(--hate-red);
}

.form {
  color: gray;
  display: flex;
  justify-content: space-evenly;
}

.right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.left {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  background-color: var(--hate-red);
  color: white;
  font-size: x-large;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.input {
  border: none;
  border-bottom: 1px solid black;
  font-size: x-small;
  width: 30%;
  background-color: rgb(248, 245, 245);
}

#login {
  margin: 10px;
  border-radius: 12px;
  border-color: var(--hate-red);
  color: var(--hate-red);
}

#login:hover {
  color: var(--hate-red);
  background-color: whitesmoke;
}

.angryBird {
  display: flex;
  margin: 6%;
  width: 50%;
}

#landing-signup-link {
  text-decoration: none;
}

@media only screen and (max-width: 600px) {
  .home {
    flex-direction: column;
    width: 100%;
  }

  .landingLeft {
    width: 100%;
    height: 40%;
  }

  .landingRight {
    width: 100%;
  }

  .slogan {
    display: none;
  }

  .landLogSlogal {
    display: none;
  }
}
