.proPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  border: 1px solid blue;
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  height: 98%;
  width: 98%;
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px 10px 0 0;
  overflow: hidden;
}

.frame {
  display: flex;
  width: 100%;
  position: relative;
  height: 3%;
  background-color: rgb(224, 224, 224);
}
.proPageContent {
  display: flex;
  height: 95%;
  width: 100%;
  position: relative;
  flex-direction: row;
}
.proLogo {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  filter: invert(65%) sepia(47%) saturate(385%) hue-rotate(314deg)
    brightness(95%) contrast(100%);
}
.proHome {
  display: flex;
  height: 40px;
  width: 40px;

  background-image: url("../images/home.png");
  background-size: cover;
  filter: invert(65%) sepia(47%) saturate(385%) hue-rotate(314deg)
    brightness(95%) contrast(100%);
}
.proLogin {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  border: 1px solid rgb(12, 188, 208);
}
.proSearchButton {
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url("../images/search.png");
  background-size: cover;
  filter: invert(65%) sepia(47%) saturate(385%) hue-rotate(314deg)
    brightness(95%) contrast(100%);
}
.proSearchButton:hover {
  cursor: pointer;
}
.proRoot {
  display: flex;
  height: 40px;
  width: 40px;
  /* border-radius: 200px; */
  background-image: url("../images/logout.png");
  background-size: cover;
  position: absolute;
  bottom: 0;
  filter: invert(65%) sepia(47%) saturate(385%) hue-rotate(314deg)
    brightness(95%) contrast(100%);
  /* border: 1px solid rgb(12, 188, 208); */
}
.proPageLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 100%;
  border-right: 2px solid rgb(224, 224, 224);
  gap: 50px;
  padding-top: 5%;
}
.proBody {
  display: flex;
  width: calc(60%);
  height: calc(100%);
  /* border: 1px solid blue; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
}
.proBodyFrame {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 120px;
  background-color: var(--hate-red);
}
.proProfilePic {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  top: 75px;
  margin-left: 20px;
  position: absolute;
  background-color: white;
  border: 2px solid rgb(159, 152, 152);
  z-index: 2;
}
.proTweetCount {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 30px;
  background-color: rgb(240, 238, 238);
  justify-content: center;
  align-items: center;
  gap: 80px;
}
.proSearch {
  display: flex;
  width: calc(40%);
  height: calc(100% + 3%);
  border-left: 2px solid rgb(224, 224, 224);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .mid {
    width: 100%;
  }
  .right {
    display: none;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1100px) {
  .pro-page-mid {
    left: 197px;
    border: 1px solid blue;
    width: calc(100% - 197px);
  }
  .pro-page-right {
    display: none;
  }
}
