.miniProBody {
  display: flex;
  width: calc(100%);
  height: calc(100%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: scroll;
}

.mainProProfilePic {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  left: calc(50% - 60px);
  margin-left: 20px;
  position: absolute;
  background-color: white;
  border: 2px solid rgb(159, 152, 152);
  z-index: 2;
}
.proPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--back-ground);
}
.ProfileHateContainer {
  display: flex;
  position: absolute;
  flex-direction: column;
  top: 160px;
  height: calc(100%);
  width: calc(100%);
  justify-self: center;
  align-items: center;
  overflow: scroll;
}
.contentContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: var(--back-ground);
}

.frame {
  display: flex;
  width: 100%;
  position: relative;
  height: 20px;
  position: absolute;
  background-color: rgb(224, 224, 224);
}

.proLogo {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proHome {
  display: flex;
  height: 40px;
  width: 40px;

  background-image: url("../images/home.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proLogin {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  border: 1px solid rgb(12, 188, 208);
}
.proSearchButton {
  display: none;
  height: 40px;
  width: 40px;
  background-image: url("../images/search.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proSearchButton:hover {
  cursor: pointer;
}
.hate-crit,
.hate-renew,
.hate-broken {
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proRoot {
  display: flex;
  height: 40px;
  width: 40px;
  background-image: url("../images/logout.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proPageLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 60px;
  height: 100%;
  border-right: 2px solid rgb(224, 224, 224);
  gap: 50px;
  padding-top: 5%;
}
.proBody {
  display: flex;
  width: 60%;
  height: calc(100%);
  /* border: 1px solid blue; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: fixed;
  border-right: 2px solid var(--hate-red);
}

.proBodyFrame {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 120px;
  background-color: var(--hate-red);
}

.profileTweetCount {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 30px;
  /* background-color: black; */
  border-bottom: 2px solid var(--hate-red);
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.proSearch {
  display: flex;
  width: calc(40%);
  height: calc(100%);
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  right: 0;
  position: absolute;
}
.mainProTweetCount {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 30px;
  background-color: var(--pro-grey);
  justify-content: center;
  align-items: center;
  /* color: white; */
  gap: 10px;
}

@media only screen and (max-width: 500px) {
  .mainProfileName {
    display: flex;

    justify-content: center;
    align-items: flex-end;
    left: 50%;
    /* border: 1px solid purple; */
    margin-left: 20px;
    /* position: absolute; */
    z-index: 2;
    color: white;
    justify-self: center;
  }
  .mainProProfilePic {
    display: flex;
    position: absolute;
    left: 65px;
    top: 40px;
    width: 90px;
    height: 90px;
    /* right: 0; */
  }

  .proBodyFrame {
    display: flex;
    /* width: calc(100%); */
    top: 30px;
    position: fixed;
    height: 120px;
    background-color: var(--hate-red);
    width: calc(100% - 60px);
    position: absolute;
    left: 60px;
  }
  .profileTweetCount {
    position: absolute;
    top: 0px;
    width: calc(100% - 60px);
    position: absolute;
    left: 60px;
  }
  .mainProTweetCount {
    position: absolute;
    top: 0px;
    width: calc(100% - 60px);
    position: absolute;
    left: 60px;
  }
  .ProfileHateContainer {
    width: calc(100% - 60px);
    position: absolute;
    left: 60px;
  }
  .proBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
    position: fixed;
    border: 2px solid var(--hate-red);
    margin: 0px;
  }
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: fixed;
  }
  .proPageContent {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid orange;
  }

  .frame {
    position: fixed;
  }
}
