.miniProBody {
  display: flex;
  width: calc(100%);
  height: calc(100%);
  /* border: 1px solid blue; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  background: var(--back-ground);
}
.miniProProfilePic {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  top: 10px;
  margin-left: 20px;
  position: absolute;
  background-color: white;
  border: 2px solid var(--hate-red);
  z-index: 2;
  background: var(--back-ground);
  box-shadow: 12px 12px 24px #080808, -12px -12px 24px #202020;
}
.proPageContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: var(--back-ground);
  /* border: 1px solid blue; */
}
.contentContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding-left: 60px;
  position: absolute;
  height: 100%;
  width: calc((100%));
  border: 2px solid rgb(224, 224, 224);
  border-radius: 10px 10px 0 0;
  overflow: scroll;
  background-color: var(--back-ground);
}

.frame {
  display: flex;
  width: 100%;
  position: relative;
  height: 3%;
  background-color: var(--pro-grey);
}
.proPageContent {
  display: flex;
  height: 95%;
  width: 100%;
  position: relative;
  flex-direction: row;
}
.proLogo {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proHome {
  display: flex;
  height: 40px;
  width: 40px;

  background-image: url("../images/home.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proLogin {
  display: flex;
  height: 40px;
  width: 40px;
  border-radius: 200px;
  background-image: url("../components/profilebutton/logo.png");
  background-size: cover;
  border: 1px solid rgb(12, 188, 208);
}
.proSearchButton {
  display: none;
  height: 40px;
  width: 40px;
  background-image: url("../images/search.png");
  background-size: cover;
  /* filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%); */
}
.proSearchButton:hover {
  cursor: pointer;
}
.proRoot {
  display: flex;
  height: 40px;
  width: 40px;
  /* border-radius: 200px; */
  background-image: url("../images/logout.png");
  background-size: cover;
  filter: invert(20%) sepia(57%) saturate(4288%) hue-rotate(344deg)
    brightness(91%) contrast(105%);
}
.proPageLinks {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  width: 60px;
  height: 100%;
  top: 0;
  border-right: 2px solid var(--hate-red);
  gap: 50px;
  position: fixed;
  z-index: 2;
  background: var(--back-ground);
}
.proBody {
  display: flex;
  width: calc(60%);
  height: calc(100%);
  /* border: 1px solid blue; */
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: hidden;
  border-right: 1px solid var(--hate-red);
}
.miniProBodyFrame {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 140px;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  background-color: var(--back-ground);
}
.proProfilePic {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 200px;
  top: 75px;
  margin-left: 20px;
  position: absolute;
  background-color: white;
  border: 2px solid rgb(159, 152, 152);
  z-index: 2;
}
.proTweetCount {
  display: flex;
  width: calc(100%);
  position: relative;
  height: 30px;
  background-color: var(--pro-grey);
  justify-content: center;
  align-items: center;
  /* color: white; */
  gap: 10px;
}
.total {
  color: white;
}
.proSearch {
  display: flex;
  width: calc(40%);
  height: calc(100vh);
  /* border-left: 2px solid rgb(224, 224, 224); */
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.smallProfileHateContainer {
  display: flex;
  position: absolute;
  flex-direction: column-reverse;
  top: 170px;
  height: calc(100% - 170px);
  width: 80%;
  justify-content: flex-end;
  align-items: center;
}

@media only screen and (max-width: 500px) {
  .landingForm {
    position: relative;
    z-index: 5;
  }
  .proSearchButton {
    display: flex;
  }

  .proTweetCount {
    gap: 0;
  }
  .proBody {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* overflow: scroll; */
    position: fixed;
    border: 2px solid var(--hate-red);
    margin: 0px;
  }
  .contentContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    border: 2px solid rgb(224, 224, 224);
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    position: fixed;
  }
  .proPageContent {
    display: flex;
    height: 100%;
    width: 100%;
    position: relative;
    flex-direction: column;
    position: absolute;
    justify-content: center;
    align-items: flex-start;
    border: 1px solid orange;
  }
  .proSearch {
    position: absolute;
    left: 65px;
    justify-self: center;
    align-self: center;
    width: calc(70%);
    border: 1px solid var(--hate-red);
    background-color: rgb(42, 41, 41);
    border-radius: 40px;
    display: flex;
    overflow: scroll;
    height: 60%;
    bottom: 3%;
    transform: translate(0%, 1000px);
    /* animation: up 1s; */
    transition: 0.5s;
  }
  .frame {
    position: fixed;
    top: 0;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1100px) {
  .pro-page-mid {
    left: 197px;
    border: 1px solid blue;
    width: calc(100% - 197px);
  }
  .pro-page-right {
    display: none;
  }
}
