.fullDiv {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.left {
  display: flex;
  height: 100%;
  width: 20%;
  border: 1px solid red;
}

.mid {
  display: flex;
  width: 60%;
  border: 1px solid red;
}

.right {
  display: flex;
  width: 20%;
  border: 1px solid red;
}

.profile-image {
  border: black 1px;
  height: 160px;
  background-size: 25px;
  background: url('../src/assets/www.jpg');
  border-radius: 50%;
}

image {
  size: 50px;
}

.pButton {
  border-radius: 25%;
  color: black;
  /*background: black;*/
  outline: grey 1px;
}

.grid-container {
  display: grid;
  background-color: lightgray;
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  height: 65vh;
  width: 100vw;
  outline: 3px;
}

.headerP {
  grid-row: 1;
  grid-column: 1;
}

.bkgrndP {
  grid-row: 2;
  grid-column: 1 / span 4;
  background: lightskyblue;
}

.profile-image {
  grid-row: 2;
  grid-column: 1;
}

.profile-image-button {
  grid-row: 3;
  grid-column: 4;
}

.userNames {
  grid-row: 3;
  grid-column: 1 / span 3;
}

h4 {
  margin: -3px;
}

.profileInfo {
  grid-row: 4;
  grid-column: 1/ span 4;
}

.user-locale-date {
  grid-row: 5;
  grid-column: 1/span 4;
  display: inline;
  margin: -3px;
}

.user-followers {
  grid-row: 6;
  grid-column: 1/ span 4;
  display: inline;
}

p {
  display: inline;
}

.tweets {
  grid-row: 7;
  grid-column: 1/ span 4;
  display: inline;

}

ul {
  display: inline;
  list-style: none;
}

li {
  display: inline;
  margin: 30px;
  outline: 1px;
}