.hate-post {
  /* border: 1px solid var(--hate-red); */
  color: var(--pro-grey);
  text-align: left;
  overflow-wrap: break-word;
  word-wrap: break-word;
  display: flex;
  width: 95%;
  border-radius: 33px;
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 5px 5px 10px #e9e7e7, -5px -5px 10px #ffffff;
  transition-duration: 2s;
}
.hate-post:hover {
  border: 1px solid var(--hate-red);
}

.hate-text-box {
  color: black;
  border: 1px solid rgb(241, 146, 146, 1);
  text-align: left;
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  border-radius: 33px;
}

.hate-modal-text-box {
  color: black;
  border: 1px solid black;
  text-align: left;
  margin-bottom: 2rem;
  display: flex;
  width: 50%;
  margin-top: 3%;
}
#homeHaterLink {
  text-decoration: none;
  color: var(--pro-grey);
  opacity: 0.7;
}

.hates-list {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
}

.hates-feed {
  width: 100%;
}

.hates-form-box {
  width: 100%;
}

.hates-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.hate-profile {
  display: flex;
  flex-direction: column;
}

.hate-profile-textbox {
  display: flex;
  flex-direction: column;
}

.hate-profile-pic {
  border-radius: 50%;
  border: 1px solid black;
  width: 75px;
  height: 75px;
  margin-left: 10px;
  margin-top: 10px;
}

.hate-text,
.hate-name {
  padding-left: 10px;
  padding-right: 10px;
}

.hate-text {
  font-size: 20px;
  width: 85%;
}

.hates-form {
  width: 70%;
  flex-direction: column;
}

.hates-form-container {
  display: flex;
  width: 95%;
  height: 30%;
  justify-content: center;
  border-bottom: 1px solid var(--hate-red);
}

/* text portion */
.hates-form-text {
  border: none;
  outline: none;
  font-size: 25px;
  height: 80%;
  width: 100%;
  resize: none;
  margin-top: 50px;
  margin-left: 15px;
  padding: 1rem;
  max-height: 100%;
  max-width: 50vw;
}

.hates-form-text:focus {
  background-color: rgb(243, 243, 243);
}

.hates-button-up {
  margin-left: 100%;
  margin-top: 8%;
  margin-bottom: 3%;
  border-radius: 25px;
  background: red;
  color: white;
  font-weight: 900;
  padding: 1% 6%;
  text-decoration: none;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: bold;
  border: none;
}

.hates-modal-button-up {
  margin-left: 85%;
  margin-top: 8%;
  margin-bottom: 3%;
  border-radius: 25px;
  background: red;
  color: white;
  font-weight: 900;
  padding: 1% 6%;
  text-decoration: none;
  text-align: center;
  font-family: "Helvetica Neue";
  font-size: 18px;
  font-style: bold;
  border: none;
}

.hate-criticisms,
.hate-dislike,
.hate-rehate {
  border: 0;
  background-color: transparent;
}

.hate-disabled {
  pointer-events: none;
}

.hate-criticisms:hover {
  cursor: pointer;
  color: blue;
}

.hate-dislike:hover {
  cursor: pointer;
  color: red;
}

.hate-rehate:hover {
  cursor: pointer;
  color: green;
}

.hate-crit {
  padding: 8px;
  background: transparent;
}

.hate-renew {
  padding: 8px;
  background: transparent;
}

.hate-broken {
  padding: 8px;
  background: transparent;
}

.hate-crit:hover {
  color: blue;
  border-radius: 50px;
  background-color: rgba(87, 87, 243, 0.25);
  cursor: pointer;
}

.hate-rehate:hover {
  cursor: pointer;
}

.hate-renew:hover {
  color: green;
  border-radius: 50px;
  background-color: rgba(2, 128, 0, 0.25);
  cursor: pointer;
}

.hate-broken:hover {
  color: red;
  border-radius: 50px;
  background-color: rgba(255, 0, 0, 0.25);
  cursor: pointer;
}

.hate-buttons {
  margin: 15px;
  display: flex;
  margin-right: 15%;
  justify-content: space-evenly;
}

.hate-form {
  width: 100%;
}

.hate-name {
  color: grey;
}

.hate-forms-home {
  font-size: 25px;
  padding-left: 20px;
  font-weight: 800;
}
.rehate-disabled {
  pointer-events: none;
}
.hate-date .hate-date-time {
  font-size: smaller;
  color: grey;
}
