.MinBox {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 100px;
  position: relative;
}
.miniHatesContainer {
  display: flex;
  width: 95%;
  height: 150px;
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  color: white;
  animation: createBox ease 0.1s;
  border-radius: 15px;
  background: #222121;
  box-shadow: 12px 12px 24px #080808, -12px -12px 24px #202020;
  transition-duration: 2s;
}
.miniHatesContainer:hover {
  border: 1px solid var(--hate-red);
}
.miniHateID {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  position: absolute;
  padding-top: 25px;
  padding-left: 50px;
  font-style: italic;
  color: white;
}
.miniHateToptab {
  display: flex;
  height: 10%;
  width: 100%;
  background: #222121;
}

.searchHatePic {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  justify-self: flex-start;
  align-self: flex-start;
  border: 1px solid var(--hate-red);
}
.miniHateBody {
  display: flex;
  width: 90%;
}
.nameLinks {
  text-decoration: none;
  color: white;
}
.miniStats {
  display: flex;
  width: 95%;
  height: 25px;
  position: absolute;
  bottom: 0;
  border-top: 1.5px solid var(--hate-red);
  padding-top: 5px;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.miniIcon {
  display: flex;
  height: 10px;
  width: 10px;
  filter: invert(34%) sepia(83%) saturate(7464%) hue-rotate(347deg)
    brightness(85%) contrast(103%);
}

@keyframes createBox {
  from {
    height: 0px;
    opacity: 1;
  }
  to {
    height: 150px;
    opacity: 1;
  }
}
