.MinBox {
  display: flex;
  width: 80%;
  justify-content: center;
  gap: 100px;
  position: relative;
}
.miniHatesContainer {
  display: flex;
  width: 95%;
  height: 150px;
  border: 1px solid var(--pro-grey);
  border-radius: 20px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  position: relative;
  margin-top: 3rem;
  animation: createBox 1s;
  box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 2px 6px 2px rgb(60 64 67 / 15%);
}
.miniHateID {
  display: flex;
  justify-self: flex-start;
  align-self: flex-start;
  position: absolute;
  padding-top: 25px;
  padding-left: 50px;
  font-style: italic;
  color: rgb(100, 99, 99);
}
.miniHateToptab {
  display: flex;
  height: 10%;
  width: 100%;
  background-color: var(--pro-grey);
}

.searchHatePic {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 100px;
  justify-self: flex-start;
  align-self: flex-start;
  border: 1px solid var(--hate-red);
}
.miniHateBody {
  display: flex;
  width: 90%;
}
.nameLinks {
  text-decoration: none;
  color: grey;
}
.miniStats {
  display: flex;
  width: 95%;
  height: 25px;
  position: absolute;
  bottom: 0;
  border-top: 1.5px solid var(--pro-grey);
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.miniIcon {
  display: flex;
  height: 10px;
  width: 10px;
  filter: invert(65%) sepia(47%) saturate(385%) hue-rotate(314deg)
    brightness(95%) contrast(100%);
}

@keyframes createBox {
  from {
    /* width: 0px; */
    height: 0px;
    opacity: 1;
  }
  to {
    /* width: 95%; */
    height: 150px;
    opacity: 1;
  }
}
