.profile {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 20%;
  position: fixed;
  left: 0;
  border-right: 1px solid var(--hate-red);
  color: rgb(96, 95, 95);
  z-index: 2;
}

.top {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 20%;
  width: 100%;
  border-radius: 0 0px 0 0;
  color: white;
  border-bottom: 2px solid var(--hate-red);
  background-color: var(--hate-red);
}
.proCountContainer {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}
.exit {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
}
.propic {
  display: flex;
  height: 80px;
  width: 80px;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 100px;
  background-color: white;
}
.tweetcount {
  display: flex;
  height: 40%;
  width: 100%;
  flex-direction: column;
  /* border: 1px solid red; */
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.account {
  font-size: 20px;
}
.bottom {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  height: 80%;
  width: 100%;
  text-decoration: none;
  background-color: white;
  /* background-color: black; */
  /* border: 1px solid blue; */
}

.pronavs {
  display: flex;
  height: fit-content;
  width: 90%;
  position: relative;
  text-decoration: none;
  color: grey;
  /* border: 1px solid grey; */
  text-align: center;
  font-size: 15px;
  margin-left: 5%;
  left: 0px;
}

.prohate {
  display: flex;
  height: fit-content;
  width: 50%;
  border-radius: 100px;
  justify-content: center;
  font-size: 20px;
  position: absolute;
  bottom: 15%;
  padding: 10px;
  text-decoration: none;
  color: grey;
  border-radius: 50px;
  border: 1px solid var(--hate-red);
  background-color: var(--hate-red);
  color: white;
  width: 50%;
  margin-top: 5%;
}
.prohate:hover {
  color: var(--hate-red);
  background-color: whitesmoke;
}

@keyframes slideRight {
  from {
    margin-left: -100%;
  }
  to {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 500px) {
  .profile {
    animation-name: slideRight;
    animation-duration: 1.5s;
    position: absolute;
    width: 80%;
  }
  .exit {
    display: flex;
  }
}

@media only screen and (min-width: 501px) and (max-width: 1100px) {
  .profile {
    animation-name: slideRight;
    animation-duration: 1.5s;
    /* position: absolute; */
    width: 20%;
  }
  .exit {
    display: none;
  }
  .profile {
    width: 197px;
  }
  .proCountContainer {
    gap: 0;
  }
}
